body {
  background-image: url('https://previews.123rf.com/images/salajean/salajean1712/salajean171200090/91049640-snow-covered-trees-and-heavy-snowing-in-the-mountains-christmas-concept.jpg');
}

.card {
  background: transparent;
}

.card img {
  height: 150px;
  width: 150px;
  align-self: center;
}

img {
  height:250px;
  width:300px;
  overflow:hidden;
}

.text-drop {
  position: absolute;
  bottom: -2em;
  padding: 0.25em;
  background-color: lightgrey;
}

.btn-drop {
  position: absolute;
  bottom: -2rem;
  right: 40%; 
  padding: 0.25em;
}

.top-padding{
  padding-top: 65px;
}

.card-padding {
  padding-top: 65px
}

.card{
  border: none;

}